<h2>Update Member</h2>

  <form class="form-wrapper" method = "post" action ="/members/<%= @member.id %>">

      <label for = "first-name">First Name:</label>
      <input id= "first-name" type="test" name="first_name" value= "<%= @member.first_name %>"/>


      <label for= "last-name">Last Name:</label>
      <input id= "last-name" type="text" name="last_name" value= "<%= @member.last_name %>"/>

      <label for= "user-name">Username:</label>
      <input id= "user-name" type="text" name="user_name" value= "<%= @member.user_name %>"/>

  <input class="new" type="submit" value="Update Member"/>
</form>
