<h1>Gym Members</h1>
<nav>
  <a href="members/new">Create Member</a>
</nav>
<% for member in @members %>

  <ul>
    <li><a href="/members/<%= member.id%>"> <%= member.pretty_name %></a>
  </ul>

<% end %>
