<h2>Add New Member</h2>
<div></div>
<div class="form-wrapper">
<form method = "post" action ="/members">

  <div class="field">
  <label for = "first-name">First Name:</label>
  <input id= "first-name" type="test" name="first_name"/>
  </div>

  <div class="field">
  <label for= "last-name">Last Name:</label>
  <input id= "last-name" type="text" name="last_name"/>
  </div>

  <div class="field">
  <label for= "user-name">Username:</label>
  <input id= "user-name" type="text" name="user_name"/>
  </div>

  <div class="field">
  <label for="image_url">Profile Picture</label>
  <input id="image_url" type="text" name="image_url" value="avatar.png">
  </div>

  <input class="new" type="submit" value="Add Member"/>
</div>
