<h1><%= day = Time.now.strftime('%A %d %B') %></h1>

<div class="">
  
</div>


<div class="button">

<p>Quick Add:</p>
<a class="index" href="/sessions/new">New Session</a>
<a class="index" href="members/new">New Member</a>
<a class="index" href="bookings/new">New Booking</a>

</div>
