<div class="title-container">
  <div>
    </div>
    <div>

    <div>
  <h1>Welcome User</h1>
  </div>
    </div>
    <div class="button">
      <p>Quick Add:</p>
    <a class="index" href="/sessions/new">New Session</a>
    <a class="index" href="members/new">New Member</a>
    <a class="index" href="bookings/new">New Booking</a>
  </div>
</div>
