<div class="title-container">
  <div class="title">
    <div class="title-logo">
    <h1>Gym Grappler</h1>
    <img src="/images/wrestler.png" class="logo" alt="Where did I go? :(">
    </div>
    <p>Your Gym Management Tag Team Partner</p>

  </div>
  <!-- <div class="title-text">
  <h1>Welcome: Jim's Gym</h1>
  </div> -->
  <div class="title-button">
  <a class="index" href="/sessions/new">Add New Session</a>
  <a class="index" href="members/new">Add New Member</a>
  <a class="index" href="bookings/new">Add New Booking</a>
  </div>
</div>
