<div class="landing-background-banner"></div>
<div class="landing-wrapper">
  <img src="/images/gym_champion_logo.png" class="logo" alt="Where did I go? :(">
  <p>Your Gym Management Tag Team Partner</p>
  <a href="/index">Enter Demo</a>
</div>
