<div class="title-container">
  <div class="background-banner">
    </div>
    <div class="title-content">

    <div class="title-logo">
  <img src="/images/gym_champion_logo.png" class="logo" alt="Where did I go? :(">
  </div>
  <p>Your Gym Management Tag Team Partner</p>
    </div>
    <div class="title-button">
    <a class="index" href="/index">Enter Demo</a>
  </div>
</div>
