<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Gym Champion</title>
  </head>
  <body>

  <div class="nav-container">
    <nav>
      <a class="nav" href="/">Home</a>
      <a class="nav" href="/members">Member List</a>
      <a class="nav" href="/trainers">Trainer List</a>
      <a class="nav" href="/sessions">Session List</a>
      <a class="nav" href="/bookings">Bookings List</a>
    </nav>
  </div>

  <div>
    <div class="body-container">
      <div class="body-content">
      <%= yield %>
    </div>
    <div class="credit-container">
    A concept ruby app by Andrew Watson
    </div>
  </body>
</html>
