<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Jim's Gym</title>
  </head>
  <nav>
    <a href="/members">Member List</a>
    <a href="/sessions">Session List</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
