<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta property="og:url" content="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Gym Champion</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/wrestler.png"/>
  </head>
  <body>

  <nav>
      <a class="nav" href="/index">Home</a>
      <a class="nav" href="/members">Member List</a>
      <a class="nav" href="/trainers">Trainer List</a>
      <a class="nav" href="/sessions">Session List</a>
      <a class="nav" href="/bookings">Bookings List</a>
  </nav>

  <section>
      <%= yield %>
  </section>

  <footer>
    A concept ruby app by Andrew Watson
  </footer>

  </body>
</html>
