<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Gym Champion"/>
    <meta property="og:image" content="public/gym_champion_logo"/>
    <meta property="og:description" content="A ruby web app"/>
    <link rel="stylesheet" href="/landing-page.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Gym Champion</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/wrestler.png"/>
  </head>
  <body>

  <section>
      <%= yield %>
  </section>

  <footer class="credit-container">
    A concept ruby app by Andrew Watson
  </footer>
  </body>
</html>
