<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Welcome to Jim's Gym</title>
  </head>
  <body>

  <div class="title-container">
    <div>Jim's Gym
    <img src="/images/wrestler.png" class="logo" alt="Where did I go? :(">
    </div>
  </div>

  <div class="nav-container">
    <nav>
      <a href="/">Home</a>
      <a href="/members">Member List</a>
      <a href="/trainers">Trainer List</a>
      <a href="/sessions">Session List</a>
      <a href="/bookings">Bookings List</a>
    </nav>
  </div>

  <div class="body-container">
    <%= yield %>
  </div>
  </body>
</html>
