<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="Gym Champion Ruby Project"/>
    <meta property="og:image" content="images/gym_champion_logo.png"/>
    <meta property="og:description" content="Concept gym management app for ruby project. App allows gym owners to access information for gym members, trainers, and sessions, with the ability to add, remove, or update a record. Additional features include search functionality & recurring sessions."/>
    <link rel="stylesheet" href="/landing-page.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Gym Champion</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/wrestler.png"/>
  </head>
  <body>

  <section>
      <%= yield %>
  </section>

  <footer class="credit-container">
    A concept ruby app by Andrew Watson
  </footer>
  </body>
</html>
