<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>Gym Champion</title>
  </head>
  <body>

  <div>
    <div class = "landing_controller">
      <%= yield %>
    </div>
    <div class="credit-container">
    A concept ruby app by Andrew Watson
    </div>
  </body>
</html>
