div.title {
  font-family: 'Fredoka One', cursive;
  font-size: 100px;
  /* margin: 0;
  padding: 0px; */
  background-color: #009FFD;
}

div.navbar a:link {
  background-color: #FFD700;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

div.navbar {
  padding-top: 5px;
}


body {
  background-color: #F5F5F5;
  height: 100%
}


img {
	max-width: 100%;
  max-height: 100%;
	}

img.thumbnail {

	width: 250px;
	height: 200px;
}

img.logo {
  width: 100px;
  height: auto;
  font-size: 10px;
}

nav {
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  font-family: 'Noto Sans KR', sans-serif;
}
