.title-container {
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding-bottom: 5px;
  position: fixed;
  background-color: #009FFD;
}

img.logo {
  width: 50px;
  height: auto;
  font-size: 10px;
  padding-top: 10px;
}

.nav-container {
  padding-top: 90px;

}
.nav-container a:link {
  left: 0;
  position: fixed;
  background-color: #FFD700;
  color: black;
  position: relative;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

div.navbar a:link {
  background-color: #FFD700;
  color: black;
  position: relative;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.body-container {
  position: relative;
  padding-top: 0px;
}
body {
  background-color: #F5F5F5;
}


img {
	max-width: 100%;
  max-height: auto%;
	}

img.thumbnail {

	width: 250px;
	height: 200px;
}

h1 {
  font-family: 'Noto Sans KR', sans-serif;
}

p {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  font-family: 'Noto Sans KR', sans-serif;
}
