<form method = "post" action ="/bookings/<%= @booking.id %>">
  <label for = "member-id">Member:</label>
    <input id= "member-id" type="test" name="member_id" value= "<%= @booking.member_id %>"/>

  <label for= "session-id">Session:</label>
    <input id= "session-id" type="text" name="session_id" value= "<%= @booking.session_id %>"/>

  <input type="submit" value="Update Member"/>
