<div class="index-container">

<h1>Bookings List</h1>
<h2>Booking Actions</h2>
<h2>Booking List</h2>
<div class="side-bar-wrapper">
<a id="button" href="bookings/new">Create Booking</a>
</div>
<table class="table-container">
  <tr>
    <th>Booking_ID</th>
    <th>Member</th>
    <th>Session</th>
  </tr>
  <% for booking in @bookings %>
  <tr>
    <% member = Member.find(booking.member_id) %>
    <% session = Session.find(booking.session_id) %>
    <td><a href="/bookings/<%= booking.id%>"><%= booking.id %></a></td>
    <td><%= member.pretty_name %></td>
    <td><%= session.type %></td>
  </tr>
  <% end %>
</table>
</div>
