<h1>Bookings</h1>
<nav>
  <a class="button" href="bookings/new">Create Booking</a>
</nav>
<% for booking in @bookings %>
<% member = Member.find(booking.member_id) %>
<% session = Session.find(booking.session_id) %>
  <ul>
    <li><a href="/bookings/<%= booking.id%>">
      <%= booking.id %>
 -
 <%= member.pretty_name %>
 -
<%= session.type %></a>
</li>
  </ul>

<% end %>
