<h2>Add New Booking</h2>
<div></div>
<div class="form-wrapper">
  <form method = "post" action ="/bookings">

    <div class="field">
      <label for = "member-id">Member:</label>
      <input id= "member-id" type="test" name="member_id"/>
    </div>
    <div class="field">
      <label for= "session-id">Session:</label>
      <input id= "session-id" type="text" name="session_id"/>
    </div>
    <input class="new" type="submit" value="Add Booking"/>
  </div>
