<p>Booking id: <%= @booking.id %>
<% @member = Member.find(@booking.member_id) %>
<%  @session = Session.find(@booking.session_id) %>
 -
 <%= @member.pretty_name %>
 -
 <%= @session.type %>
</p>

<form method="post" action ="/bookings/<%= @booking.id %>/delete">
  <button class="delete" type="submit" value="Delete Booking">Delete Booking</button>
</form>
