<h1> Session Bookings for: <%= @session.type %></h1>
<nav>
  <a href="bookings/new/">Add new booking</a>
</nav>
<% for member in @members_signed_up %>
  <ul>
    <li><a href="/members/<%= member.id%>"> <%= member.pretty_name %> </a>
  </ul>

<% end %>
