<form method = "post" action ="/sessions/<%= @session.id %>">

  <label for = "type">Session Type:</label>
  <input id= "type" type="test" name="type" value= "<%= @session.type %>"/>

  <input type="submit" value="Update Session"/>
 
