<h1>Gym Sessions</h1>
<nav>
  <a href="sessions/new">Create Session</a>
</nav>
<% for session in @sessions %>

  <ul>
    <li><a href="/sessions/<%= session.id%>"> <%= session.name %></a>
  </ul>

<% end %>
