<h1>Upcoming Sessions</h1>
<nav>
  by Day:
  <a href="/sessions/filtered-by-day/monday">Monday</a>
  <a href="/sessions/filtered-by-day/tuesday">Tuesday</a>
  <a href="/sessions/filtered-by-day/wednesday">Wednesday</a>
  <a href="/sessions/filtered-by-day/thursday">Thursday</a>
  <a href="/sessions/filtered-by-day/friday">Friday</a>
  <a href="/sessions/filtered-by-day/saturday">Saturday</a>
  <a href="/sessions/filtered-by-day/sunday">Sunday</a>

  <a href="sessions/new">Create Session</a>
</nav>
<p>
<br>
<% for session in @sessions %>
<a href="/sessions/<%= session.id%>"> <%= session.starts_at %></a>
<%= Date.parse(session.on_date).strftime('%A') %>
 -
<%= session.type %>
<br>
<% end %>
</p>
