<form method = "post" action ="/trainers/<%= @trainer.id %>">
  <label for = "first-name">First Name:</label>
    <input id= "first-name" type="test" name="first_name" value= "<%= @trainer.first_name %>"/>

  <label for= "last-name">Last Name:</label>
    <input id= "last-name" type="text" name="last_name" value= "<%= @trainer.last_name %>"/>

  <input type="submit" value="Update Trainer"/>
