<h2>Update Trainer</h2>

<form class="form-wrapper" method = "post" action ="/trainers/<%= @trainer.id %>">

  <label for = "first-name">First Name:</label>
  <input id= "first-name" type="test" name="first_name" value= "<%= @trainer.first_name %>"/>


  <label for= "last-name">Last Name:</label>
  <input id= "last-name" type="text" name="last_name" value= "<%= @trainer.last_name %>"/>


  <label for= "user-name">Username:</label>
  <input id= "user-name" type="text" name="user_name" value= "<%= @trainer.user_name %>"/>

  <input class="new" type="submit" value="Update Trainer"/>
</form>
