<h1>Gym Trainers</h1>
<nav>
  <a class="button" href="trainers/new">Add Trainer</a>
</nav>
<br>
<% for trainer in @trainers %>
<div><a href="/trainers/<%= trainer.id%>"> "<%= trainer.alias %>" <%= trainer.pretty_name %></a></div>
<% end %>
