<h1>Gym Trainers</h1>
<h2>Trainer Search</h2>
<div class="member-title-wrapper">
  <h2>Trainer List</h2>
  <a class="button" href="trainers/new">Add Trainer</a>
  </div>
  <div class="members-form-wrapper">
    <form method="get" action ="/trainers">
      <div class="field">
        <input class="search-bar" type="text" name="name_query" value="">
        <input class ="submit" type="submit" value="Search">
      </div>
    </form>
  </div>
  <table class="table-container">
      <% if @trainers.length > 0 then %>
    <tr>
      <th>Username</th>
      <th>Name</th>
    </tr>
      <% for trainer in @trainers %>
    <tr>
      <td><a href="/trainers/<%= trainer.id%>"><%= trainer.user_name %></a></td>
      <td><%= trainer.pretty_name %></td>
    </tr>
      <% end %>
    <% else %>
    <p><%= "No Results" %></p>
    <% end %>
  </table>
