<div class="index-container">

<h1>Gym Trainers</h1>
<h2>Trainer Search</h2>

<div class="content-heading">
  <h2>Trainer List</h2>
</div>

<div class="side-bar-wrapper">
  <form method="get" action ="/trainers">
      <input class="search-bar" type="text" name="name_query" value="">
      <input id ="small-button" type="submit" value="Search">
  </form>
  <a id="button" href="trainers/new">Add New Trainer</a>
</div>


  <table class="table-container">
      <% if @trainers.length > 0 then %>
    <tr>
      <th>Username</th>
      <th>Name</th>
    </tr>
      <% for trainer in @trainers %>
    <tr>
      <td><a href="/trainers/<%= trainer.id%>"><%= trainer.user_name %></a></td>
      <td><%= trainer.pretty_name %></td>
    </tr>
      <% end %>
    <% else %>
    <p><%= "No Results" %></p>
    <% end %>
  </table>
</div>
