<h2>Add New Trainer</h2>
<form class="form-wrapper" method = "post" action ="/trainers">

  <label for = "first-name">First Name:</label>
    <input id= "first-name" type="test" name="first_name"/>

  <label for= "last-name">Last Name:</label>
    <input id= "last-name" type="text" name="last_name"/>

  <label for= "user-name">Username:</label>
    <input id= "user-name" type="text" name="user_name"/>

    <label class="hidden" for="image_url">Profile Picture</label>
    <input class="hidden" id="image_url" type="text" name="image_url" value="avatar.png">

  <input class="new" type="submit" value="Add Trainer"/>
