<form method = "post" action ="/trainers">

  <label for = "first-name">First Name:</label>
    <input id= "first-name" type="test" name="first_name"/>

  <label for= "last-name">Last Name:</label>
    <input id= "last-name" type="text" name="last_name"/>

  <label for= "alias">Alias:</label>
    <input id= "alias" type="text" name="alias"/>

  <input type="submit" value="Add Member"/>
